<div class="container">
	<div id="header" class="row">
		<a href="/" ><button class="btn btn-info col-xs-2">Проверить статус заявки</button></a>
		<a href="/createreq" ><button class="btn btn-info col-xs-2">Создать заявку</button></a>
		<div class="col-xs-6"></div>
		<a href="/logout" ><button class="btn btn-info col-xs-2">Выйти</button></a>
	</div>
</div>